

#slider {
    width: 900px; 
    height: 400px; 
    position: relative; 
	overflow: hidden; 
	text-align:left;

}

#sliderContent {
    width: 900px; 
    position: absolute;
	top: 0;
	margin-left: 0;
}

.sliderImage {
    float: left;
    position: relative;
	display: none;
}

.sliderImage span {
    position: absolute;
    padding: 0px;
    width: 200px;  
	height:100; 
    background-color: #000;  

	filter: alpha(opacity=); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:75%;
    color: #fff; 
        display: none;
}

.sliderImage span strong { 
	color:#Red;  
	font-size: 20px; 
	line-height:300%;
	}

.clear { clear: both; }


.top { top: 0; left: 700px; background-color:black; }    

.bottom { bottom: 0; left: 0; }  

#slider ul 		{ list-style-type: none;}
#slider ul li 	{ margin-left:0px; }


#subbanner 			{ width:900px; height:70px; background-color:black; overflow:hidden; padding:10px 0;   }
#subbanner p		{ line-height:180%; font-size:16px; font-weight:bold; color:#fff; text-align:center;  }

#top				{ background-color:white; width:100%; overflow: hidden; padding:20px 0;
						border-bottom:#eee; 	}
						
#footer 			{ clear:both; padding:10px 0; background-color:#000; width:900px; }


#content 			{ float:left; width:900px; padding:20px; background-color: white;  }
#content h1			{ margin:0 0 20px 0; border-bottom:1px #999 solid; padding:20px 0; background-color: white; }
#content h2			{ margin:10px 0; background-color: white; }
#content p			{ line-height:150%; margin:10px 10px 0 0;  background-color: white;}
#content img		{ padding:8px; border:1px #ccc solid; margin:8px; background-color: white; }



#social-media			{ float:right; margin:0 10px 0 0; text-align:left; }
#social-media ul 		{	}
#social-media ul li		{ display:inline;  	}
#social-media ul li a	{	}
#social-media p			{ color:#fff; margin:4px 10px 4px 0px; font-size:11px; }




